* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgb(157, 139, 139);
}
.logo {
     display: flex;
     align-items: center;
}
.logo img {
    height: 30px;
    margin-right: 10px;
}


.nav-links {
    
    display: flex;
    list-style: none;
   
}
.nav-links li {
    margin: 0 20px;
    
}
.nav-links a {
    color: black;
    text-decoration: none;
}
.nav-links :hover {
    
    color: lawngreen;
}
.btn {
    background-color: rgb(141, 179, 194);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;

}
.btn :hover {
    background-color: blueviolet;
}
#hero-section {
      padding-top: 20px;
      /* border: 1px solid red; */
     text-align: center;
     background: url('hero-bg.png'),rgba(0, 25, 49, 0.8);

    color: white;
    background-size: cover;
    padding-bottom: 190px;
    
}
.hero-contant h1 {
    font-weight: bold;
    font-size: 3.5rem;
    padding-top: 115px;
    
}
.hero-contant .highlight {
    color: green;
}
.hero-contant p {
    font-size: 1.1rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;

}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
.hero-buttons .btn-primary{
    /* border: 1px solid red; */
    background-color: rgb(12, 171, 12);
    border-radius: 4px;
    color: white;
}
.hero-buttons .play-icon {
    border: 1px solid rgb(225, 205, 205);
    color: white;
}

.rakibul {
    padding: 100px;
    text-align: center;
}
.subtitle {
    margin-bottom: 50px;
    font-size: 1rem;
}
.card-grid {
    display: flex;
    gap: 10px;
}

.card {
     background: rgb(227, 209, 209);
     padding: 40px 20px;
     border-radius: 15px;
     border: 1px solid blanchedalmond;
     box-shadow: 10px 10px 0;
}
.card-grid :hover {
    background-color: rgb(136, 186, 186);
}

.star-list {
    display: flex;
    align-items: center;
    gap: calc(2px);
}

.solution-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.solution-section .container {
  width: 50%;
  display: flex;
  justify-content: center;
  
}

.solution-section .container .imageofList {
  width: 90%;
  height: 100%;
  max-width: 800px;
}

.solution-section .content-side {
  width: 50%;
}

.sub-heading {
  color: #777;
  font-size: 14px;
  letter-spacing: 2px;
}

.star-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.star-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.star-list img {
  width: 20px;
  height: 20px;
}

.progarm .cta-area{
    padding: 70px;
    align-items: center;
}
.progarm {
    
    padding-top: 120px;
    max-width: 600px;
}
.progarmh1 {
 
    font-size: 3.5rem;
    margin-bottom: 15px;

}
.hero-section {
    padding: 70px;
    max-width: 600px;

}
h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    /* border: 1px solid red; */
    
}
p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.hero-section {
    border: 2px solid rgb(212, 190, 190);
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: rgba(232, 253, 253, 0.689);

}
.main-footer {
    background: var(--style,rgba(0, 5, 49, 1));
    padding: 30px;
    font-family: sans-serif;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}
.footer-logo {
    align-items: center;
    display: flex;
}
.logo-text {
    font-size: 50px;
    font-weight: bold;
    color: rgb(220, 231, 220);
    margin-left: 10px;
}
.social-conteainer {
    text-align: right;
}
.social-icon {
    color: white;
    font-size: 1.2rem;
    margin-left: 15px;
    text-decoration: none;

}
.social-icon a {
    color: white;
}
.social-conteainer p{
    color: white;
}
.footer-divider {
    border: 0;
    border-top: 5px solid rgb(220, 203, 203);
    margin: 20px 0;
}
.footer-bottom {
    text-align: center;
    font-size: 2.5rem;
    color: antiquewhite;

}
.btn-primary {
    border: 1px solid rgb(225, 214, 214);
    background-color: greenyellow;
    border-radius: 5px;
    text-decoration: none;
    
}
.play-icon {
    border-radius: 7px;
}